.ui.header > .image:not(.icon):only-child,
.ui.header > img:only-child {
  margin-right: 0.75rem;
}
.ui.header > .image:not(.icon),
.ui.header > img {
  display: inline-block;
  margin-top: 0.14285714em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}
.ui.circular.image,
.ui.circular.image > *,
.ui.circular.images .image,
.ui.circular.images .image > * {
  border-radius: 500rem;
}
.ui.circular.image {
  overflow: hidden;
}

img.ui.image {
  display: block;
}

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

img.ui {
  border-style: none;
}
