.ui.header > .image:not(.icon):only-child,
.ui.header > img:only-child {
  margin-right: 0.75rem;
}

.ui.header > .image:not(.icon),
.ui.header > img {
  display: inline-block;
  margin-top: 0.14285714em;
  width: 2.5em;
  height: auto;
  vertical-align: middle;
}

.ui.circular.image,
.ui.circular.image > *,
.ui.circular.images .image,
.ui.circular.images .image > * {
  border-radius: 500rem;
}

.ui.circular.image {
  overflow: hidden;
}

img.ui.image {
  display: block;
}

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}

img.ui {
  border-style: none;
}

.header {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1em;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #bbdefb;
  text-align: center;
}

.code {
  margin-right: -2em;
}
/* 
.header {
  text-align: center;
  padding: 2rem 0;
  background-color: #bbdefb;
} */

.light {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #607d8b;
}

.split {
  display: flex;
  flex: 1 1 150px;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0.8rem;
  border: 0 solid grey;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem grey;
  background: rgba(220, 220, 220, 0.062);
}

.left a {
  color: dodgerblue;
}

.left,
.right,
.left > pre {
  transition: box-shadow 0.5s ease, padding 0.5s ease;
  padding: 0.7rem;
}

.left {
  /* width: 90%; */
}
.left > pre {
  width: 50%;
}
.right {
  width: 100%;
  padding: 0 2rem;
}

@media only screen and (max-width: 1024px) {
  .left {
    width: 100%;
  }
  .left pre {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
